@tailwind base;
@tailwind components;
@tailwind utilities;
/*-----------------------------------------------------------------------------------*/
/*  General Settings
/*-----------------------------------------------------------------------------------*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  @apply text-grey-75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

p {
  @apply text-lg;
  font-family: "Noto Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply rounded py-3 px-6 font-bold;
}
.btn-red {
  @apply bg-red text-white;
}
.btn-red:hover {
  @apply bg-red;
}

/*-----------------------------------------------------------------------------------*/
/*  Layout
/*-----------------------------------------------------------------------------------*/

/* header */

/* navbar */

.menu a.active {
  color: red;
  border-bottom: 1px red solid;
}

/* Home */

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.first-banner-img {
  background-image: url("../assets/img/banner-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.second-banner-img {
  background-image: url("../assets/img/banner-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg {
  background-image: url("../assets/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
